source/windowsMobile/Application/bin/
source/windowsMobile/CommControl/bin/
source/windowsMobile/CommLayer/bin/
source/windowsMobile/NetLayer/bin/
source/windowsMobile/SubProtocol/bin/
source/windowsMobile/SystemInterop/bin/
source/windowsMobile/Application/obj/
source/windowsMobile/CommControl/obj/
source/windowsMobile/CommLayer/obj/
source/windowsMobile/NetLayer/obj/
source/windowsMobile/SubProtocol/obj/
source/windowsMobile/SystemInterop/obj/
source/windowsXP/Application/bin/
source/windowsXP/CommControl/bin/
source/windowsXP/CommLayer/bin/
source/windowsXP/NetLayer/bin/
source/windowsXP/SubProtocol/bin/
source/windowsXP/SystemInterop/bin/
source/windowsXP/Application/obj/
source/windowsXP/CommControl/obj/
source/windowsXP/CommLayer/obj/
source/windowsXP/NetLayer/obj/
source/windowsXP/SubProtocol/obj/
source/windowsXP/SystemInterop/obj/