source/winmobile/Application/bin/
source/winmobile/CommControl/bin/
source/winmobile/CommLayer/bin/
source/winmobile/NetLayer/bin/
source/winmobile/SubProtocol/bin/
source/winmobile/SystemInterop/bin/
source/winmobile/Application/obj/
source/winmobile/CommControl/obj/
source/winmobile/CommLayer/obj/
source/winmobile/NetLayer/obj/
source/winmobile/SubProtocol/obj/
source/winmobile/SystemInterop/obj/
source/winx86/Application/bin/
source/winx86/CommControl/bin/
source/winx86/CommLayer/bin/
source/winx86/NetLayer/bin/
source/winx86/SubProtocol/bin/
source/winx86/SystemInterop/bin/
source/winx86/Application/obj/
source/winx86/CommControl/obj/
source/winx86/CommLayer/obj/
source/winx86/NetLayer/obj/
source/winx86/SubProtocol/obj/
source/winx86/SystemInterop/obj/