source/windowsMobile/Application/bin/
source/windowsMobile/CommControl/bin/
source/windowsMobile/CommLayer/bin/
source/windowsMobile/NetLayer/bin/
source/windowsMobile/SubProtocol/bin/
source/windowsMobile/SystemInterop/bin/